:root { 
--bluegray_50:#eaecf0; 
--blue_700:#0468d7; 
--light_blue_300:#54c5f8; 
--red_700:#d03329; 
--bluegray_100:#d6dae2; 
--deep_purple_500:#6648ba; 
--light_blue_400:#29b6f6; 
--light_blue_301:#61dafb; 
--gray_50:#f8f9fa; 
--light_blue_900:#01579b; 
--bluegray_900:#262b35; 
--bluegray_700:#424c5d; 
--bluegray_600:#5f6c86; 
--bluegray_400:#74839d; 
--gray_900_a2:#0d1624a2; 
--white_A700:#ffffff; 
--gray_700_11:#55555511; 
--bluegray_901:#282c34; 
}